.notification-container {
    width: 100%;
    * {
        background: rgb(90, 0, 0);
    }

    > div {
        display: block;
        padding: 2px 15px;
        position: relative;

        &:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }
    .cross {
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 10px;
        cursor: pointer;
    }
}