@import 'src/variables';

.login-container {

    width:100%;
    text-align: center;
    padding: 30px;
    border: 1px solid $fontcolor;

    input {
        display: block;
        margin: 10px auto;
        width: 300px;
    }

    button {
        margin: 5px 15px;
        width: 100px;
    }
}